html {
    height:100%;
    width:100%;
    overflow:scroll;
    overflow-x:hidden;
    font-family:Arial,Helvetica,sans-serif;
}

body {
    margin-top: 5em;
}

footer{
    font-size:0.8em;
}

.pinku{
    text-decoration: none;
    font-size:3em;
    color:#f6c3ff;
    text-shadow: none;
}

.pinku.dark{
    color:#7c0000
}

.pinku2{
    text-decoration: none;
    font-size:2em;
    color:#f6c3ff;
}

.pinku2.dark{
    color:#7c0000
}

.bigLinks{
    font-size:1.5em;
}

a.bigLinks2{
    font-size:3em;
}

em,
h1,
h2,
h3,
li,
p,
td
{
 font-size:1.1em;
 line-height:1.2rem;
 text-decoration:none;
 color:#4d4d4d
}

a{
    text-decoration: underline;
    color:#f6c3ff;
    text-shadow: 0.3px 0.5px #d000ff;
}

img{
    max-width:50em;
    max-height:50em;
}

table{
    margin-left: auto; 
    margin-right: auto;
    justify-content: center;
}

td{
    text-align: left;
    border: 0px solid black;
}

.article{
    background-color: rgba(207, 238, 255, 0.282);
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: rgb(164, 172, 248) 0px 5px 10px;
}

.bgdark{
    background-color: #1e1e1e;
}

.dark{
    color:#c3c3c3
}



.article.dark{
    background-color: rgba(0, 0, 0, 0.461);
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: rgb(0, 0, 0) 0px 5px 10px;
}

.center{
    text-justify: distribute;
    text-align: center;
    vertical-align: auto;
}

.centered-image {
    width: 100%;
    height: 30em;
    background-image: url("../imgs/header.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.rcorners {
    border-radius: 10px;
    border: 2px solid #4d4d4d;
    padding: 2px; 
    width: auto;
    height: auto;  
}

#overlay {
    position: fixed; 
    display: block;
	pointer-events: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
	background-image: url("../imgs/rgb.gif");
	opacity: 0.1;
    z-index: 100;
}